@tailwind base;
@tailwind components;
@tailwind utilities;
 
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; 
}

::-webkit-scrollbar-track {
  background: transparent;  
}

::-webkit-scrollbar-thumb {
  background-color: grey;  
  border-radius: 3px; 
}


@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.logo-heartbeat {
  animation: heartbeat 1s infinite;
}
