@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

body {
  scrollbar-width: thin;
}

body::-moz-scrollbar-thumb {
  background-color: black;
}

body {
  scrollbar-base-color: black;
  scrollbar-arrow-color: grey;
  scrollbar-face-color: black;
  scrollbar-3dlight-color: black;
  scrollbar-highlight-color: black;
  scrollbar-shadow-color: black;
  scrollbar-darkshadow-color: black;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.logo-heartbeat {
  animation: heartbeat 1s infinite;
}


